@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-body:arial, sans-serif;
  --font-title: fantasy, sans-serif;

}

.text-shadow:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(rgba(255,255,255,.3),transparent 60%);
  margin: -60px -20px;
  transition: all linear .3s ease-in-out;
  pointer-events: none;
}
.text-outline {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}
.text-shadow:hover:after {
  background: radial-gradient(rgba(255,255,255,.8),transparent 60%);
  margin: -180px -140px;
}

.text-magical .text-magical-item{
  width: auto;
  background-repeat: no-repeat;
  background-image: -o-linear-gradient(transparent calc(100% - 2px),currentColor 2px);
  background-image: linear-gradient(transparent calc(100% - 2px),currentColor 2px);
  background-image: -ms-linear-gradient(transparent 95%,currentColor 2px);
  -webkit-transition: .6s cubic-bezier(.215,.61,.355,1);
  -o-transition: .6s cubic-bezier(.215,.61,.355,1);
  transition: .6s cubic-bezier(.215,.61,.355,1);
  background-size: 0 96%;
}
.text-magical:hover .text-magical-item{
  background-size: 100% 96%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-body);
    font-size: min(1.5em, 5vw);
}

.font-title{
  margin-top: 0.5em;
  line-height: 1;
}