@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.text-shadow:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(rgba(255,255,255,.3),transparent 60%);
  margin: -60px -20px;
  transition: all linear .3s ease-in-out;
  pointer-events: none;
}

.text-shadow:hover:after {
  background: radial-gradient(rgba(255,255,255,.8),transparent 60%);
  margin: -180px -140px;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
